
input{
    height: 500px;
    width: 500px;
}
.href{
    display: block;
}
.hhh{
    display: inline-block;;
}
body{
    margin:0;
    padding:0;
  }
  .bro1{
    width:300px;
    height:200px;
    background:#ddd;
    margin-bottom:50px;
    margin-top: 50px;
  }
  .bro2{
    width:200px;
    height:100px;
    background:pink;
    margin-top:50px;
  }
  .special{
    /* 所有毗邻的两个或更多盒元素的margin
    都会合并为一个margin共享之。毗邻的定义为：同级或者嵌套的盒元素，并且它们之间没有非空内容、Padding或Border分隔。 */
     /* border: 1px solid transparent;   父元素添加border*/
     /* padding-bottom: 1px;  父元素添加padding—bottom */ 
     overflow: hidden;   
  }